<h1><%=currentUser.firstname%>'s Events</h1>

<% if (events && events.length > 0) {
	events.forEach(event => { %>
		<p><%=event.name%> on <%=event.date%></p>
		<p><%=event.participants.length%> participants attending, 
			<% event.participants.forEach(participant => { %>
				<%=participant.username%> (<%=participant.firstname%>)
			<% }) %></p>
		<form method="GET" action="/events/<%=currentUser.id%>/show/<%=event.id%>">
			<input type="submit" value="Edit">
		</form>
			<% event.participants.forEach(p => {
				if (p.id == currentUser.id && (event.date == moment().format("YYYY-MM-DD"))) { %>
					<form method="POST" action="/ride/<%=event.id%>">
						<input type="submit" value="Join Ride!">
					</form>
			<%	}
			}) %>
		<hr />
	<% }) %>
<% } %>

<h2><a href="/events/<%=currentUser.id%>/new">Create an event!</a></h2>