<form method="POST" action="/events/<%=currentUser.id%>/show/<%=event.id%>?_method=PUT">
	<input name="name" type="text" value="<%=event.name%>">
	<input name="date" type="date" value="<%=event.date%>">
	<textarea name="description"><%=event.description%></textarea>
	<input type="submit" value="Update Info">
</form>

<form method="POST" action="/events/<%=currentUser.id%>/show/<%=event.id%>?_method=DELETE">
	<input type="submit" value="Delete Event">
</form>